@model ChinookMVC.Models.HomeIndexViewModel
@{
    ViewData["Title"] = Model.pageTitle;
}

<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div class="jumbotron">    
                <h2 class="centre display-4">Chinook</h2>
                    <p class="lead">Album Management System</p>
                        <hr />
                        <p>Please select an option from the top navigation bar.</p>
                        @* the image is a photo taklen from a tech support venture at a radio station *@
                        <img src="images/Img-Record.jpg" alt="Record Image" width="425" height="425" class="centre">
                    </div>         
                </div>
            </table>
        </div>
    </div>
